* {
  margin: 0;
  padding: 0; }

:root {
  --text: #67809f;
  --title_text: #b0e4f2ba;
  --bg: rgb(224, 218, 218);
  --inverse-bg: #333;
  --svg-bg: #0e3040; }

body {
  background: var(--svg-bg); }

.container {
  text-align: center;
  color: var(--text); }
  .container .display {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; }
    .container .display__title {
      font-weight: bold;
      color: var(--title_text);
      padding: 5px; }
    .container .display__svg {
      text-align: center; }
      .container .display__svg .dot {
        stroke: rgba(29, 18, 15, 0.87); }
  .container #tooltip {
    text-align: left;
    background: rgba(47, 79, 79, 0.938);
    pointer-events: none;
    shape-rendering: crispEdges; }
    .container #tooltip label {
      padding: 1px;
      color: rgba(231, 221, 221, 0.89); }
      .container #tooltip label b {
        color: #32c5df; }
  .container #x-axis,
  .container #y-axis {
    font-weight: 600;
    shape-rendering: crispEdges; }
  .container .y-axis-label {
    font-size: 1.5em; }
    @media only screen and (min-width: 768px) {
      .container .y-axis-label {
        font-size: 2em; } }
